html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    text-transform: capitalize;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
    transition: all 1s ease;
}

ul li a:hover {
    color: black;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.navbar {
    background-color: white;
    z-index: 122;
}

.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    transition: all .5s ease;
    cursor: pointer;
    background-color: black;
    color: lime;
    height: 40px;
    padding: 0 .3rem;
}

.show-links {
    height: 232px;
}

@media screen and (min-width:800px) {
    .nav-btn {
        display: none;
    }

    .navbar {
        box-shadow: none;
        background-color: transparent;
        width: 100%;
    }

    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
        column-gap: 1rem;
    }

    .links a {
        padding: 0;
        color: white;
    }

    .fixed-nav .links a {
        color: black;
    }
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url(./ocean.jpg) center/cover no-repeat;
}

.hero {
    min-height: 100vh;
    display: grid;
    place-items: center;
}


.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
}

.hero-title {
    text-transform: uppercase;
}

.text {
    max-width: 480px;
}

.btn-hero {
    color: white;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 4px;
    background-color: transparent;
    transition: all .5s ease;
    outline: 3px solid white;
}

.btn-hero:hover {
    background-color: white;
    color: black;
}


.section-a {
    height: 80vh;
    text-align: center;
    background-color: darkgray;
}

.section {
    height: 80vh;
    text-align: center;
    background-color: white;
}

h2 {
    letter-spacing: 3px;
    font-size: 2rem;
    text-transform: uppercase;
}

footer {
    height: 20vh;
    display: grid;
    place-items: center;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}

h4 {
    letter-spacing: 3px;
    width: 85vw;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 7rem;
    right: 1.5rem;
    background: rgb(0, 203, 230);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    color: black;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 1000;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}